#OSX
#-------------------------------------------------------------------------------
.DS_STORE
.idea

#General
#-------------------------------------------------------------------------------
deploy
dist
node_modules
*.tsx
yarn.lock
package-lock.json
*.log